.App {
    text-align: center;
    height: 100vh;
    width: 100vw;
}

* {
    padding: 0;
    margin: 0;
    text-transform: capitalize;
}

.recorder {
    background: none !important;
    width: 100%;
    margin: auto;
    height: 80%;
    border: none;
    /* border-radius: 100%; */
    color: orange;
}

.fade {
    background: #ff416c;
    background: -webkit-linear-gradient(to bottom, #ff4b2b, #ff416c);
    background: linear-gradient(to bottom, #ff4b2b, #ff416c);
}

.scroll-able {
    overflow-y: scroll;
    /* height: 100%; */
}

.datas {
    position: absolute;
    top: 0;
    /* bottom: 100px; */
    left: 0;
    right: 0;
}

.full {
    width: 100%;
    height: 100%;
}

.gradDynamic {
    position: relative;
}

.gradDynamic:after,
.gradDynamic:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    z-index: -1;
}

.gradDynamic:after {
    background: radial-gradient(circle, red, transparent);
    background-size: 400%;
    animation: colorSpin 30s linear infinite;
}

.gradDynamic:before {
    background-color: yellow;
}

@keyframes colorSpin {
    25% {
        background-position: 0 100%;
    }

    50% {
        background-position: 100% 100%;
    }

    75% {
        background-position: 100% 0;
    }

    100% {
        filter: hue-rotate(360deg);
    }
}