body {
    margin: 0;
    font-family: 'Didact Gothic'Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



@font-face {
    font-family: OpenSans;
    src: url(../src/font/OpenSans-Regular.ttf);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}