.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: orange;
  border-radius: 5px;
}

* {
  padding: 0;
  margin: 0;
}

.recorder {
  margin: auto;
  width: 80%;
  height: 90%;
  border: none;
  border-radius: 100%;
  border: none;
  color: rgba(255, 166, 0, 0);
}

.fade {
  background: #ff416c;
  background: -webkit-linear-gradient(to bottom, #ff4b2b, #ff416c);
  background: linear-gradient(to bottom, #ff4b2b, #ff416c);
}

.scroll-able {
  overflow-y: scroll;
  /* height: 100%; */
}

.datas {
  position: absolute;
  top: 0;
  /* bottom: 100px; */
  left: 0;
  right: 0;
}

.full {
  width: 100%;
  height: 100%;
}

.gradDynamic {
  position: relative;
}

.gradDynamic:after,
.gradDynamic:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  z-index: -1;
}

.gradDynamic:after {
  background: radial-gradient(circle, red, transparent);
  background-size: 400%;
  animation: colorSpin 30s linear infinite;
}

.gradDynamic:before {
  background-color: yellow;
}

@keyframes colorSpin {
  25% {
    background-position: 0 100%;
  }

  50% {
    background-position: 100% 100%;
  }

  75% {
    background-position: 100% 0;
  }

  100% {
    filter: hue-rotate(360deg);
  }
}
